@import 'button.css';

/******************courseBoard*******************/

/********************button**********************/

#courseBoard-btns-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px 0 110px;
  margin: 10px 0 0 0;
}

#courseBoard-btn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;

  display: flex;
  height: 50px;

  align-items: center;
  width: 200px;
}

.search-form-wrapper {
  align-items: center;
  height: 35px;
}

.filter-search-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
  gap: 10px;

  width: 131px;
  height: 35px;

  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-radius: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;
}

.seacrch-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.course-name-list {
  width: 83.84px;
  height: 35px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.courseId-filter {
  width: 83.84px;
  height: 35px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  /* border: 1px solid #cfcfcf; */
}

#course-id-list {
  background-image: url('../assets/Polygon.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right;
  background-position: 65px;
  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;

  text-align: center;

  color: #000000;
}

.location-filter {
  width: 83.84px;
  height: 35px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
}

#course-location-list {
  background-image: url('../assets/Polygon.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: right;
  background-position: 65px;

  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 144%;

  text-align: center;

  color: #000000;
}

/********************** table ***********************/

#courseBoard-table {
  width: 100%;
  padding: 0 100px 0 100px;
}

.courseBoard-row {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144%;

  color: #1d1d1d;
}

#courseBoard-title-row {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 144% !important;
  text-align: center;

  color: #1d1d1d;

  box-sizing: border-box;

  width: 100%;
  height: 60px;

  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
}

#courseBoard-no {
  width: 4%;
}

#courseBoard-classification {
  width: 12%;
}

#courseBoard-course-id {
  width: 4%;
}

#courseBoard-subject {
  width: 7%;
}

#courseBoard-course-name {
  width: 30%;
}

#courseBoard-duration {
  width: 20%;
}

#courseBoard-count-mounth {
  width: 7%;
}

#courseBoard-total-hours {
  width: 8%;
}

#courseBoard-total-days {
  width: 9%;
}

#courseBoard-location {
  width: 5%;
}

.cnt-pages {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin: 60px 150px 60px 150px;

  color: #999999;
}
