@import 'reset.css';

#notification-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#notification-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/*************button ***************/

#notification-btn-wrapper {
  padding-right: 50px;
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;

  display: flex;
  width: 900px;
  height: 50px;

  align-items: center;
}

.notification-btn-setting {
  border-radius: 6px;
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  width: 57px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  float: right;
  padding: 5px;
  line-height: 1.5em;
}

#notification-enroll-btn {
  color: rgba(45, 98, 234, 1);
  border: solid rgba(45, 98, 234, 1);
}

#notification-edit-btn {
  color: rgb(160, 164, 167);
  border: solid rgb(160, 164, 167);
}

#notification-delete-btn {
  color: rgba(234, 45, 45, 1);
  border: solid rgba(234, 45, 45, 1);
}

/*********** table ***************/

.notification-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notification-btn-article {
  /* height: 50px; */
  width: 100%;
}

#notification-table {
  text-align: center;
  width: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#notification-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  align-items: center;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 144%;

  color: #1d1d1d;
}

.table-first-row {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px;
  line-height: 144% !important;
  text-align: center;

  color: #1d1d1d;

  box-sizing: border-box;

  width: 100%;
  height: 60px;

  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
}

.first-column {
  width: 10%;
}

.title-column {
  width: 60%;
  text-align: left;
  padding-left: 50px;
}

.title-first-column {
  width: 60%;
}

.third-column {
  width: 20%;
}

.writer-column {
  width: 20%;
}

/************page*********/
.page-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cnt-pages {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin: 0 150px 0 150px;

  color: #999999;
}

.pagenation {
  display: flex;
  justify-content: center;
  height: 32px;
  margin-top: 80px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;

  color: rgba(0, 0, 0, 0.72);
  align-items: center;
}

.page-number {
  width: 32px;
  height: 32px;

  text-align: center;
}

/**********footer***************/
footer {
  height: 200px;
}

/***********notificationPost.html*************/

#notificationPost-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.notificationPost-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.underline {
  background: #ffffff;
  border-bottom: 1px solid #f3f5f9;
  border-radius: 10px 10px 0px 0px;
  padding-bottom: 20px;
}

#notification-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 30px 0;
}

#notification-row > div > span {
  font-size: 18px;
}

#notification-contents {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 100px;
}

.notificationPost-content {
  font-size: 15px;
}

#notification-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 100px;
}

#notificationPost-btn-wrapper {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-top: 30px;
}

.btn-setting {
  border-radius: 6px;
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 144%;

  color: #ffffff;

  width: 57px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  background: #eee;
  padding: 5px;
  box-shadow: 0px 0px 5px #888;
  line-height: 1.5em;
}

#enroll-btn {
  background-color: rgba(45, 98, 234, 1);
}

#edit-btn {
  background-color: rgba(201, 211, 219, 1);
}
